@font-face {
  font-family: "GothamRounded-Bold";
  src: url("fonts/GothamRounded-Bold.eot");
  src: url("fonts/GothamRounded-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/GothamRounded-Bold.woff2") format("woff2"), url("fonts/GothamRounded-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamRounded-Light";
  src: url("fonts/GothamRounded-Light.eot");
  src: url("fonts/GothamRounded-Light.eot?#iefix") format("embedded-opentype"), url("fonts/GothamRounded-Light.woff2") format("woff2"), url("fonts/GothamRounded-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamRounded-Book";
  src: url("fonts/GothamRounded-Book.eot");
  src: url("fonts/GothamRounded-Book.eot?#iefix") format("embedded-opentype"), url("fonts/GothamRounded-Book.woff2") format("woff2"), url("fonts/GothamRounded-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamRounded-Medium";
  src: url("fonts/GothamRounded-Medium.eot");
  src: url("fonts/GothamRounded-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/GothamRounded-Medium.woff2") format("woff2"), url("fonts/GothamRounded-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
}

.error {
  display: flex;
  justify-content: center;
  font-family: "GothamRounded-Bold";
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header .header-title {
  font-family: "GothamRounded-Bold";
  padding: 1rem;
}
.header .header-searchbar {
  margin-bottom: 1rem;
}
.header .header-searchbar input {
  height: 2rem;
  border: 1px solid;
  padding-left: 0.5rem;
  font-family: "GothamRounded-Medium";
  color: grey;
  margin-right: -0.1rem;
  width: 20rem;
}
.header .header-searchbar button {
  height: 2rem;
  font-family: "GothamRounded-Light";
  border-radius: 10%;
}
.header .header-searchbar button:hover {
  background-color: grey;
}
@media only screen and (max-width: 411px) {
  .header .header-searchbar input {
    width: 70%;
  }
}

.content {
  padding: 1rem;
}
.content .content-title {
  font-family: "GothamRounded-Book";
  padding-top: 0.5rem;
}
.content .content-list-film {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.content .content-list-film .content-film {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid;
}
.content .content-list-film .content-film .content-film-img img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}
.content .content-list-film .content-film .content-film-title {
  font-family: "GothamRounded-Medium";
  padding: 0.5rem;
  max-width: 12rem;
}
.content .content-list-film .content-film .content-film-title p {
  font-family: "GothamRounded-Light";
}
.content .content-list-film .content-film .content-film-btn {
  position: relative;
  bottom: 0;
  font-family: "GothamRounded-Light";
  cursor: pointer;
}

.popUp {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "GothamRounded-Medium";
  display: flex;
  justify-content: center;
  background-color: wheat;
  z-index: 10;
  display: none;
}
.popUp .popUp-box {
  border: 1px solid;
  padding: 1rem;
  margin: 1rem;
}
.popUp .popUp-box .popUp-Title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.popUp .popUp-box .popUp-Title button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-size: 1rem;
  font-weight: bold;
}
.popUp .popUp-box .popUp-Img {
  display: flex;
  justify-content: center;
}
.popUp .popUp-box .popUp-Detail {
  margin: 1rem;
}
.popUp .popUp-box .popUp-Detail .popUp-Detail-Plot {
  font-family: "GothamRounded-Book";
  margin-bottom: 0.5rem;
}
.popUp .popUp-box .popUp-Detail .popUp-Detail-Plot h3 {
  font-family: "GothamRounded-Bold";
}
.popUp .popUp-box .popUp-Detail .popUp-Detail-Cast {
  font-family: "GothamRounded-Light";
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
