@import "fonts";

*{
    padding: 0;
    margin: 0;
}

.error{
    display: flex;
    justify-content: center;
    font-family: 'GothamRounded-Bold';
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    .header-title{
        font-family: 'GothamRounded-Bold';
        padding: 1rem;
    }
    .header-searchbar{
        margin-bottom: 1rem;
        input{
            height: 2rem;
            border: 1px solid;
            padding-left: 0.5rem;
            font-family:'GothamRounded-Medium';
            color: grey;
            margin-right: -0.1rem;
            width: 20rem;
        }

        button{
            height: 2rem;
            font-family:'GothamRounded-Light';
            border-radius: 10%;
        }
        button:hover{
            background-color: grey;
        }

        @media only screen and (max-width: 411px) {
            input{
                width : 70%;
            }
        }
    }
}

.content{
    padding: 1rem;
    
    .content-title{
        font-family:'GothamRounded-Book';
        padding-top: 0.5rem;
    }
    .content-list-film{
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        .content-film{
            padding: 1rem;
            margin: 1rem;
            border: 1px solid;
            // width: 25%;
            .content-film-img{
                
               img{
                width: 100%;
                height: 40%;
                object-fit: cover;
               }

            }
            .content-film-title{
                font-family:'GothamRounded-Medium';
                padding: 0.5rem;
                max-width: 12rem;
                p{
                    font-family:'GothamRounded-Light';
                }
            }
            .content-film-btn{
                position: relative;
                bottom: 0;
                font-family:'GothamRounded-Light';
                cursor: pointer;
            }
        }
    }
}

.popUp{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-family:'GothamRounded-Medium';
    display: flex;
    justify-content: center;
    background-color: wheat;
    z-index: 10;
    display: none;
    .popUp-box{
        border: 1px solid;
        padding: 1rem;
        margin: 1rem;
        .popUp-Title{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            button{
                border: none;
                outline: none;
                cursor: pointer;
                background: none;
                font-size: 1rem;
                font-weight: bold;
            }
        }
        .popUp-Img{
            display: flex;
            justify-content: center;
        }
        .popUp-Detail{
            margin: 1rem;
            .popUp-Detail-Plot{
                font-family:'GothamRounded-Book';
                margin-bottom: 0.5rem;
                h3{
                    font-family:'GothamRounded-Bold';
                }
            }
            .popUp-Detail-Cast{
                font-family:'GothamRounded-Light';
                
            }
        }
    }
    
}

#overlay {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    opacity: 0;
    
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
    
}





